# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Environment
.env

# Database
data/*.db

# Debug logs
data/debug-log/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Test

# docs
_/